<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the blanks to get your MadLib built!</h1>
    <form action="/CompleteMadLib" method="post">
     <label for="noun">noun</label>
     <input id="noun" name="noun" type="text">
     <label for="noun2">noun2</label>
     <input id="noun2" name="noun2" type="text">
     <label for="noun3">noun3</label>
     <input id="noun3" name="noun3" type="text">
     <label for="noun4">noun4</label>
     <input id="noun4" name="noun4" type="text">
     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">
     <label for="adjective2">Adjective2</label>
     <input id="adjective2" name="adjective2" type="text">
     <label for="verb">Verb</label>
     <input id="verb" name="verb" type="text">
     <label for="verb2">Verb2</label>
     <input id="verb2" name="verb2" type="text">
     <label for="verb3">Verb3</label>
     <input id="verb3" name="verb3" type="text">
     <label for="occupation">Occupation</label>
     <input id="occupation" name="occupation" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
