<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pick a MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Choose a Theme to get your custom MadLib!</h1>
    <!-- <form action="/Form" method="post"><p>Occupations</p><button type="submit">Go!</button></form>
    <form action="/PuppyForm" method="post"><p>Puppy</p><button type="submit">Go!</button></form> -->
    <a href="/Tacos">Tacos!</a>
    <a href="/Form">Learning a Job!</a>


    <!-- <form>
      <label for="theme">Choose a theme:</label>
      <select name="theme" id="themes">
        <option value="occupation" action="/Form" method="post">Occupation</option>
        <option value="puppy" action="/PuppyForm" method="post">Puppy</option>
      </select>
     <button type="submit">Go!</button>
    </form> -->
  </body>
</html>
