<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the blanks to get your MadLib built!</h1>
    <form action="/CompletedTacos" method="post">
     <label for="noun">noun</label> <!--  keep -->
     <input id="noun" name="noun" type="text"> <!--  keep -->
     <label for="foods">foods</label> 
     <input id="foods" name="foods" type="text">
     <label for="saying">saying</label>
     <input id="saying" name="saying" type="text">
     <label for="foods2">foods2</label>
     <input id="foods2" name="foods2" type="text">
     <label for="adjective">Adjective</label> <!--  keep -->
     <input id="adjective" name="adjective" type="text">  <!--  keep -->
     <label for="color">color</label>
     <input id="color" name="color" type="text">
     <label for="verb">Verb</label> <!--  keep -->
     <input id="verb" name="verb" type="text"> <!--  keep -->
     <label for="ride">Something you would ride in</label>
     <input id="ride" name="ride" type="text">
     <label for="animal">animal</label>
     <input id="animal" name="animal" type="text">
     <label for="person">person</label>
     <input id="person" name="person" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
